.navbar{
    background-color:grey;
    
  }

  #menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    #menu-toggle:checked + #menu {
      display: block;
    }
  }
  :root {
    --pink: fac9b8;
    --brown: e5d4c0;
    --opal: c5decd;
    --mint: a1e8cc;
    --charcoal: 495159;
  }
