.navbar{
  background-color:var(--charcoal);

 }
  :root {
    --pink: #fac9b8;
    --brown: #e5d4c0;
    --opal: #c5decd;
    --mint: #a1e8cc;
    --charcoal: #495159;
  }
  p{
    font-family:Patrick;
  }
  a{
    color: var(--brown);
    text-decoration: none;
    font-family: var(--main);
  }
  .logo{
    width: 50px;
    
  }
  .texte{margin-top: 2vh;
    margin-right: 60vh;
    width: 100%;
    transform: translateX(-10vh);
  }
  .bi.bi-file-person{
    width: 150px;
  }