.navbar{
  background-color:var(--charcoal);

 }
 html, body {
  height: 100%;
}
  :root {
    --pink: #fac9b8;
    --brown: #e5d4c0;
    --opal: #c5decd;
    --mint: #a1e8cc;
    --charcoal: #495159;
  }
  p{
    font-family:Patrick;
  }
  a{
    color: var(--brown);
    text-decoration: none;
    font-family: var(--main);
  }
  .logo{
    width: 50px;
    
  }
  /*J'ignore pourquoi il ne centre pas le logo*/
  .texte{display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .bi.bi-file-person{
    width: 150px;
  }
  
  .svg{
    width: 350px;
    margin-top: 10px;
    transform: translateX(-90px);
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
  
  }